#teachers-container {
	color: #FFF;
	background: url('images/background-teachers-component.jpg') no-repeat center; 
	background-attachment: fixed; 
	background-size: cover; 
	padding: 5rem 0;
	font-size: 0.9rem;
}

#teachers-container .img-signature {
	margin: 2rem 0 6rem;
}